@import '../mixins';
@include font-face('Gilroy', 'Gilroy-Regular', 400);
@include font-face('Gilroy', 'Gilroy-RegularItalic', 400,italic);
@include font-face('Gilroy', 'Gilroy-Medium', 500);
@include font-face('Gilroy', 'Gilroy-Semibold', 600);
@include font-face('Gilroy', 'Gilroy-Bold', 700);
