@import "../vars";
.display2 {
    font-size: 30px;
    line-height: 120%;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .display2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 576px) {
    .display2 {
        font-size: 20px;
    }
}