<div class="catalog-card">
    <div class="catalog-card__top">
        <button class="catalog-card__favourite"></button>
        <a href="" class="catalog-card__img">
            <img src="img/@@img.webp" alt="">
        </a>
    </div>
    <div class="catalog-card__info">
        <span class="catalog-card__price">999 Р</span>
        <!--  -->
        @@if(has === "true"){<span class="catalog-card__has">в наличии</span>}
        <!--  -->
        @@if(has === "false"){<span class="catalog-card__has catalog-card__has--no">нет в наличии</span>}

    </div>
    <a href="" class="catalog-card__title">Мангал премиум 200*500 мм</a>
    <div class="catalog-card__art">Арт. 320130-42</div>
    <!--  -->
    @@if(has === "true"){ <button class="catalog-card__btn btn btn-gradient">В корзину</button>}
    <!--  -->
    @@if(has === "false"){ <button class="catalog-card__btn btn btn-gradient" disabled>В корзину</button>}

    <div class='catalog-card__calc cartcalc'>
        <button class='ccalc-minus'>
            <svg width="9" height="3" viewBox="0 0 9 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.65 2.17V0.322H8.68V2.17H0.65Z" fill="black"/>
            </svg>
        </button>
        <input type='text' value='1'>
        <button class='ccalc-plus'>
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.736 4.376V6.202H5.908V10.03H4.082V6.202H0.276V4.376H4.082V0.57H5.908V4.376H9.736Z" fill="black"/>
            </svg>
        </button>
    </div>
</div>