<div class="review-card">
    <div class="review-card__top">
        <div class="review-card__img">
            <img src="img/avatar.png" alt="">
        </div>
        <div class="review-card__name">
            Наталья
        </div>
    </div>
    <div class="review-card__date">
        10.04.2020
    </div>
    <div class="review-card__title">
        Уголь для мангала
    </div>
    <div class="review-card__text">
        “Уголь из натуральной древесины - отличный выбор для гриля или костра. Благодаря высокой температуре и низкому содержанию золы, он обеспечивает равномерный нагрев и длительное время горения. Уголь древесный также придает блюдам уникальный аромат и вкус. В целом, отличный продукт для приготовления пищи на открытом воздухе.”
    </div>
</div>
