<div class="container">
    <div class="branding__inner">
        <div class="branding__title display2">МЫ БРЕНДИРУЕМ</div>
        <div class="branding__items">
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding1.png" alt="">
                </div>
                <div class="branding__item-title">Одноразовая посуда</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding2.png" alt="">
                </div>
                <div class="branding__item-title">Топливные брикеты</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding3.png" alt="">
                </div>
                <div class="branding__item-title">Уголь для мангала</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding4.png" alt="">
                </div>
                <div class="branding__item-title">Пакеты</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding5.png" alt="">
                </div>
                <div class="branding__item-title">Бумажные салфетки</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding6.png" alt="">
                </div>
                <div class="branding__item-title">Жидкость для розжига</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding7.png" alt="">
                </div>
                <div class="branding__item-title">Опахала для мангала</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding3.png" alt="">
                </div>
                <div class="branding__item-title">Уголь для мангала</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding4.png" alt="">
                </div>
                <div class="branding__item-title">Пакеты</div>
            </div>
            <div class="branding__item">
                <div class="branding__img">
                    <img src="img/branding5.png" alt="">
                </div>
                <div class="branding__item-title">Бумажные салфетки</div>
            </div>
        </div>
    </div>
</div>