<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="index.html" class="header__logo">
                <img src="img/@@logo.png" alt="">
            </a>
            <div class="header__search form-group">
                <input class="header__search-input" type="text" placeholder="Я хочу найти...">
                <button class="header__search-btn btn btn-gradient">ПОИСК</button>
            </div>
            <a href="tel:+73912655030" class="header__phone">+7 391 265 5030</a>
            <button class="header__burger">
                <span></span>
            </button>
            <div class="header__menu">
                <nav class="nav">
                    <div class="header__catalog">
                        <button class="header__catalog-btn btn btn-gradient">
                        <i class="header__catalog-icon">
                            <span></span>
                        </i>
                        <span>КАТАЛОГ</span>
                    </button>
                        <div class="header__catalog-dropdown">
                            <a href="" class="header__catalog-link">Посуда для пикника</a>
                            <a href="" class="header__catalog-link">Мангалы</a>
                            <a href="" class="header__catalog-link">Шампуры</a>
                            <a href="" class="header__catalog-link">Решетки для гриля</a>
                            <a href="" class="header__catalog-link">Топливные брикеты</a>
                            <a href="" class="header__catalog-link">Уголь для мангала</a>
                            <a href="" class="header__catalog-link">Жидкость для розжига</a>
                            <a href="" class="header__catalog-link">Опахало для мангала</a>
                            <a href="" class="header__catalog-link">Бумажные салфетки</a>
                            <a href="" class="header__catalog-link">Пакеты</a>
                        </div>
                    </div>
                    <ul class="nav__links">
                        <li>
                            <a href="">Премиум товары</a>
                        </li>
                        <li>
                            <a href="">ДЛЯ БИЗНЕСА</a>
                        </li>
                        <li>
                            <a href="">О КОМПАНИИ</a>
                        </li>
                        <li>
                            <a href="">КОНТАКТЫ</a>
                        </li>
                        <li>
                            <a href="">ДОСТАВКА И ОПЛАТА</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__buttons">
                    <a href="" class="header__btn header__favourite">
                        <span class="header__btn-num">0</span>
                        <img src="img/favorite.png" alt="">
                    </a>
                    <a href="" class="header__btn header__cart">
                        <span class="header__btn-num">0</span>
                        <img src="img/cart.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>