<div class='container'>
    <div class="retailer__title display2">ГДЕ МОЖНО ПРИОБРЕСТИ НАШУ ПРОДУКЦИЮ</div>
    <div class='retailer__row'>
        <div class="retailer__item">
            <img src="img/retailer.webp" alt="">
        </div>
        <div class="retailer__item">
            <img src="img/retailer2.webp" alt="">
        </div>
        <div class="retailer__item">
            <img src="img/retailer3.webp" alt="">
        </div>
    </div>
    <div class='retailer__row'>
        <div class="retailer__item">
            <img src="img/retailer4.svg" alt="">
        </div>
        <div class="retailer__item">
            <img src="img/retailer5.svg" alt="">
        </div>
        <div class="retailer__item">
            <img src="img/retailer6.webp" alt="">
        </div>
        <div class="retailer__item">
            <img src="img/retailer7.webp" alt="">
        </div>
    </div>
</div>