.wrapper--premium {
    a {
        &:hover {
            color: #0B542B;
        }
    }
    .btn-gradient {
        background: linear-gradient(97.58deg, #0B542B 0%, #00A110 109.84%);
        border-radius: 5px;
        color: #FFFFFF;
        &:hover {
            background: linear-gradient(97.58deg, #0B542B 30%, #00A110 109.84%);
            color: #FFFFFF;
        }
        &:disabled {
            background: #C4C4C4;
            opacity: 1;
        }
    }
    .catalog-card {
        &__favourite {
            &:hover {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8401 4.60999C20.3294 4.099 19.7229 3.69364 19.0555 3.41708C18.388 3.14052 17.6726 2.99817 16.9501 2.99817C16.2276 2.99817 15.5122 3.14052 14.8448 3.41708C14.1773 3.69364 13.5709 4.099 13.0601 4.60999L12.0001 5.66999L10.9401 4.60999C9.90843 3.5783 8.50915 2.9987 7.05012 2.9987C5.59109 2.9987 4.19181 3.5783 3.16012 4.60999C2.12843 5.64169 1.54883 7.04096 1.54883 8.49999C1.54883 9.95903 2.12843 11.3583 3.16012 12.39L4.22012 13.45L12.0001 21.23L19.7801 13.45L20.8401 12.39C21.3511 11.8792 21.7565 11.2728 22.033 10.6053C22.3096 9.93789 22.4519 9.22248 22.4519 8.49999C22.4519 7.77751 22.3096 7.0621 22.033 6.39464C21.7565 5.72718 21.3511 5.12075 20.8401 4.60999V4.60999Z' stroke='%230B542B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
            &--active {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8401 4.60999C20.3294 4.099 19.7229 3.69364 19.0555 3.41708C18.388 3.14052 17.6726 2.99817 16.9501 2.99817C16.2276 2.99817 15.5122 3.14052 14.8448 3.41708C14.1773 3.69364 13.5709 4.099 13.0601 4.60999L12.0001 5.66999L10.9401 4.60999C9.90843 3.5783 8.50915 2.9987 7.05012 2.9987C5.59109 2.9987 4.19181 3.5783 3.16012 4.60999C2.12843 5.64169 1.54883 7.04096 1.54883 8.49999C1.54883 9.95903 2.12843 11.3583 3.16012 12.39L4.22012 13.45L12.0001 21.23L19.7801 13.45L20.8401 12.39C21.3511 11.8792 21.7565 11.2728 22.033 10.6053C22.3096 9.93789 22.4519 9.22248 22.4519 8.49999C22.4519 7.77751 22.3096 7.0621 22.033 6.39464C21.7565 5.72718 21.3511 5.12075 20.8401 4.60999V4.60999Z' fill='%230B542B' stroke='%230B542B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }
        &__has {
            &:not(.catalog-card__has--no) {
                color: #0B542B;
            }
        }
    }
    .header__btn-num {
        background: #0B542B;
    }
    .footer {
        background: linear-gradient(94.55deg, #0B542B 0.01%, #00A210 100%);
    }
    .pagination {
        &__item {
            &:hover {
                color: #0B542B;
            }
            &--active {
                border-color: #0B542B;
            }
        }
    }
    .catalog-page__num {
        color: #0B542B;
    }
    .catalog-page__items {
        margin-top: 0;
    }
    .footer {
        &__col {
            &:nth-child(1) {
                width: 172px;
                margin-right: 58px;
            }
        }
        &__logo {
            width: 172px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .wrapper--premium {
        .footer {
            &__col {
                &:nth-child(1) {
                    width: 160px;
                    margin-right: 33px;
                }
            }
            &__logo {
                width: 160px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .wrapper--premium {
        .footer {
            &__col {
                &:nth-child(1) {
                    width: 100%;
                    margin-right: 0;
                }
            }
            &__logo {
                width: 126px;
            }
        }
    }
}